:root {
  --bg: #ffffff;
  --text: #121212;
}

html[data-theme='dark'] {
  --bg: #121212;
  --text: #ffffff;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  transition: 0.2s ease;
}
