:root {
  --bg: #ffffff;
  --text: #121212;
  --bg-soft: #f3f3f3;
}

html[data-theme='dark'] {
  --bg: #121212;
  --text: #ffffff;
  --bg-soft: #222222;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
  overflow-x: hidden; // Ana engelleme burada
  position: relative;
  scroll-behavior: smooth;
}

// Scrollbar gizle
body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none; // Firefox için
}
