.navbar {
  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg);
  color: var(--text);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__logo {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s;

    &:hover {
      color: #ffcc00;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__center {
    display: flex;
    gap: 1.5rem;

    span {
      position: relative;
      color: var(--text);
      font-weight: 400;
      cursor: pointer;
      transition: color 0.3s;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #facc15; // Sarı çizgi
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &.open {
      display: flex;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1rem;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    span {
      width: 24px;
      height: 3px;
      background-color: var(--text);
      transition: 0.3s ease;
    }

    .open:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .open:nth-child(2) {
      opacity: 0;
    }

    .open:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.lang-switcher {
  display: flex;
  gap: 0.5rem;

  button {
    background: transparent;
    border: 1px solid var(--text);
    color: var(--text);
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--text);
      color: var(--bg);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    &__center {
      flex-direction: column;
      width: 100%;
      display: none;
      margin-top: 1rem;
      gap: 0.8rem;

      span {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
      }

      &.open {
        display: flex;
      }
    }

    &__right {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
      margin-top: 1rem;
    }

    &__burger {
      display: flex;
      margin-left: auto;
    }
  }
}
