.theme-toggle {
  width: 50px;
  height: 30px;
  border-radius: 999px;
  background-color: #ffe082; // Gündüz için açık sarı
  position: relative;
  cursor:pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .icon {
    z-index: 2;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;

    &.sun {
      color: #222; // Gündüzde güneş ikonu siyah
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
    }

    &.moon {
      color: #aaa; // Pasif ay ikonu
    }
  }

  .toggle-thumb {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fffde7; // Gündüz için açık renk
    transition: left 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  &.dark {
    background-color: #0a1f3c; // Gece mavisi

    .toggle-thumb {
      left: calc(100% - 26px);
      background-color: #ffffff; // Gece için koyu thumb
    }

    .icon.sun {
      color: #888; // Güneş pasif
    }

    .icon.moon {
      color: #000000;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    }
  }
}
